.carousel-inner > .item > img
{
    position: absolute;
    top: -150px;
    left: 0;
    width: auto;
    height: auto;
    max-height: 1000px;
    background-size: cover;
    min-width: 100%;
}

.carousel .item
{
    height: 500px;
    interval: 5000;
}

.page-header {
    text-align: center;
    color: darkslategray;
}

#footerRight {
    text-align: right;
}

#socialTitle {
    text-align: center;
}
h3 {
    color: darkgreen;
}