.carousel-inner > .item > img
{
    position: absolute;
    top: -150px;
    left: 0;
    width: auto;
    height: auto;
    max-height: 1000px;
    background-size: cover;
    min-width: 100%;
}

.carousel .item
{
    height: 500px;
    interval: 5000;
}

.page-header {
    text-align: center;
    color: black;
}

#footerRight {
    text-align: right;
}

#socialTitle {
    text-align: center;
}
h3 {
    color: darkgreen;
}

#socialFont {
    font-family: "Comic Sans MS";
    color: black;
}

.gallery-image {
    display: inline-block;
    vertical-align: middle;
    width-max: 100px;
}

#galleryHeader {
    padding-top: 30px;
    font-style: italic;
    color: black;
    font-family: cursive;
}

#emailHelp {
    color: red;
}

#inputForm {
    padding-top: 50px;
    text-align: center;
    color: black;
    font-family: cursive;
    font-style: italic;
}

#colorBear {
    color: saddlebrown;
}

.act {
    padding: 10px;
}
