.carousel-inner > .item > img
{
    position: absolute;
    top: -175px;
    left: 0;
    width: auto;
    height: auto;
    max-height: 1000px;
    background-size: cover;
    min-width: 100%;
}

.carousel .item
{
    height: 500px;
    interval: 1000 * 7;
}

h1 {
    color: ghostwhite;
}